--file_csv=datahub/btc_full.csv
--days_to_predict=100
--epochs=100
--batch_size=16
--lstm_units=32
--number_of_layers=1
--dropout_rate=0.2
--learning_rate=0.01
--sequence_length=20
--output_file=multi
--early_stop
--multiple_features