--file_csv=datahub/bitcoin_datahub.csv
--days_to_predict=100
--epochs=100
--batch_size=16
--lstm_units=64
--number_of_layers=1
--dropout_rate=0.2
--learning_rate=0.001
--sequence_length=30
--output_file=decay_local_test3
--early_stop